@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;400;500&family=Montserrat:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-popup {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.swal2-input[type="text"] {
  color: black;
}